*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    font-family: 'Young Serif', serif;
}
.navbar{
    color: rgb(104, 101, 101);
    
    
}
.hero{
    background-image: url(./img/cover.jpg);
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     position: relative;
     z-index: 2;

}
.hero::after{
    content: "";
    background-color: rgba(21, 20, 51, 0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: -1;
}
.btn{
    padding: 15px;
    border-radius: 0;
   
}

.services{
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: red;
    
} 

.service_card ,.pricing {
    background-color: #fff;
    padding: 35px;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
    transition: all 0.35s ease;
    position: relative;
    z-index: 2;
}
.service_p ,.business_p{
    color: rgb(151, 149, 149);
}
.service_card::before {
    content: "";
    position: absolute;
    background-color: #0d6efd;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.35s ease;
}
.service_card:hover::before{
  height: 100%;
}
.service_card:hover ,.pricing:hover{
    box-shadow: none;
    transform: translateY(5px);

}
.service_card:hover h5,
.service_card:hover p {
    color: #fff;
}
.service_card:hover .iconBox{
    background-color: #fff;
    color: #0d6efd;
}
.iconBox ,.feature_icon{
    
    width: 54px;
    height: 54px;
    background-color:#0d6efd;
    color:#fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex: none;
}
.iconBox i ,.feature_icon i{
    font-size: 32px;
}

/* business section */
.col-img{
    background-image: url(img/cover2.jpg);
    min-height: 500px;
    background-size: cover;
    background-position: center;
    
}
#feature{
    margin-top: 100px;
}
.project img{
    width: 100%;
    transition: all 0.4s ease;

}
.project{
    position: relative;
    overflow: hidden;
}
.project:hover::after{
    content: "";
    background-color:rgba(21, 20, 51, 0.8) ;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.project_title{
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: #fff;
    opacity: 0;
    z-index: 100;
    transition: all 0.4s ease;

}

.project:hover .project_title{
    opacity: 1;
}
.project:hover img{
    transform: scale(1.1);
}
.img-resize{
    height: 290px;
    object-fit: cover;
}

/* pricing */

.pricing .bx{
    color: #0d6efd;
}

/* team */
.team_img{
    width: 150px;
    height: 150px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
  
   
  
}
.team_img img{
    width: 100%;
    border-radius: 50%;
}
.team_card{
    box-shadow:  0 8px 22px rgba(0, 0, 0, 0.1);
   padding-top: 30px;
   padding-bottom: 20px;
   transition: all 0.35s ease;

}
.team_card:hover{
    box-shadow: none;
}
.team_icons{
    display: flex;
    justify-content: center;
}
.team_icons a{
    width: 34px;
    height: 34px;
    color: #fff;
    font-size: 20px;
    background-color: #0d6efd;
    padding: 10px;
    border-radius: 50%;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.team_icons a:hover{
    background-color: #fff;
    color: #0d6efd;
    border: 2px solid #0d6efd;
}
.blog_img{
    height: 200px;
    overflow: hidden;
    object-fit: cover;
}
.blog_card  img{
    width: 100%;
} 
.blog_card{
    padding: 20px;
    background-color: #fff;
    box-shadow:  0 8px 22px rgba(0, 0, 0, 0.1);
    transition: all 0.34s ease;
}
.blog_card:hover{
    box-shadow: none;
    transform: translateY(5px);
}
.blog_card h5:hover{
    color: #0d6efd;
}

